<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title><%= @site_name %> Notification </title>
	</head>
	<body style="font: 14px normal Helvetica, Arial, Sans; background: #999;">
  
    <div style="width:800px; margin: 10px auto; background: #fff; border: 10px solid #aaa;">
    
      <h1 style="clear: both; margin: 0; padding: 40px 20px 5px 20px; border-bottom: 1px dotted; background: #ccc;">
        <%= @site_name %> <%=@task_name.titleize%>
      </h1>

      <p style="margin: 8px 0 20px 20px; padding: 0px; font-style: italic;" >
        Brought to you by: <a href="http://code.google.com/p/capistrano-mailer/">Capistrano Mailer</a>
      </p>
      
      <p style="margin: 10px 20px; font-weight: bold;">Released: <%= @date %> at <%= @time %></p>
      
      <%= @sections.map { |section|
        data = @section_data[section.to_sym]
        if %w(extra_information release_data).include?(section)
          render :partial => 'section_custom.html.erb', :locals => {:section_title => section, :data => data} unless data.empty?
        else
        	render :partial => 'section.html.erb', :locals => {:section_title => section, :data => data} unless data.empty?
        end
      }.join %>
   </div>
   
   <div style="text-align:center;">
     &copy; 2008 <a href="http://www.sagebit.com">Sagebit LLC</a>, MIT License
   </div>
	</body>
</html>
